{% extends "consistence.html" %}
{% block title %}Sign In{% endblock title %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='novelstyle.css') }}" rel="stylesheet" type="text/css" />
<style type="text/css">
    .important { color: #88ff00; }
</style>
{% endblock head %}

{% block content %}
<h1>Sign In</h1>
<p class="important">
    Let's go.
</p>
<fieldset>
<form action="" method="post">
    <dl>
        <dt>Username:</dt>
        <dd>
            <input type="text" name="username" value="{{ request.form.username }}" required />
        </dd>

        <dt>Password:</dt>
        <dd>
            <input type="password" name="password" required />
        </dd>
    </dl>
    <p>
        <input type="submit" value="Log In" />
    </p>
</form>
</fieldset>
{% endblock content %}
